body {
    background: linear-gradient(to bottom, #2C3E50, #4A90E2, #BDC3C7);
    font-family: 'Arial', sans-serif;
    color: #F4F6F6;
    height: 100vh;
}

h1, h2 {
    text-align: center;
    color: #F4F6F6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px; 
}

.forms, .weatherCurrent, .toBe {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #95A5A6;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #2980B9;
    color: #F4F6F6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

button:hover {
    background-color: #3498DB;
    transform: translateY(-2px);
}

.weather-box {
    background-color: #34495E;
    color: #F4F6F6;
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
